/* Styling for cells */
.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1%;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; /* Adjust font size as needed */
}

.white-cell {
  background-color: white;
}

.black-cell {
  background-color: gray;
}

.selected-cell {
  background-color: yellow; /* Change background color for selected cells */
}

/* Styling for rows */
.row {
  display: flex;
}

/* Styling for board container */
.board-container {
  margin: auto; /* Center the board horizontally */
  margin-top: 50px; /* Add margin from top to center vertically */
  width: fit-content; /* Adjust width based on content */
}

.start-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 4%;
}

.home-button{
  width: auto;
  width: 15%;
  padding: 5px;
  margin: 1%;
}

.waiting-window{
  margin-top:10%;
  align-items: center;
}